 <!-- About Section-->
 <section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My name is Fatima-Ezzahraa Passionate web developer</p>
                    <p class="text-muted">Turning ideas into interactive and user-friendly web experiences is what I love most. I'm glad you're here—welcome to my portfolio!</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>